@import '~react-agenda/build/styles.css';
@import '~react-datetime/css/react-datetime.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 2rem;
}

.App-title {
  font-size: 1.5em;
  text-align: left;
}

.App-intro {
  font-size: large;
}

/*add/Edit*/
.react-kronos input {
  text-align: center;
  margin: 0 auto;
}

.react-kronos div {
  left: 37%
}

/*Form Styles*/
